@require "normalize"

body
  font-family: "Helvetica Neue"
header
  background-color: purple
  height: 40px
  a
    color: #c7c0db
    text-decoration: none
    line-height: 40px
    margin: 0 10px
    font-size: 15px
  .account
    float: right
.title
  text-align: center

.apps-table
  list-style: none
  border: 1px solid black
  border-radius: 4px
  max-width: 960px
  width: 80%
  margin: 0 auto
  padding: 0
  > li
    padding: 10px 0px
    margin: 5px 40px
    border-bottom: 1px solid #666
    height: 50px
    > a
      vertical-align: middle
      line-height: 50px
    &:last-child
      border-bottom: 0
